<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hero</key>
	<array>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
	</array>
	<key>map</key>
	<array>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>MovL2</string>
		</dict>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>MovL2</string>
		</dict>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>2</integer>
				<key>y</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>MovH2</string>
		</dict>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>End</string>
		</dict>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>9</integer>
			</dict>
			<key>type</key>
			<string>End</string>
		</dict>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>2</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>Trap</string>
		</dict>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>4</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>Trap</string>
		</dict>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>6</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>End</string>
		</dict>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>6</integer>
				<key>y</key>
				<integer>9</integer>
			</dict>
			<key>type</key>
			<string>End</string>
		</dict>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>5</integer>
				<key>y</key>
				<integer>9</integer>
			</dict>
			<key>type</key>
			<string>Trap</string>
		</dict>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>5</integer>
				<key>y</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>MovL2</string>
		</dict>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>5</integer>
				<key>y</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>MovL2</string>
		</dict>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>4</integer>
				<key>y</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>MovH2</string>
		</dict>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>2</integer>
				<key>y</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>MovH2</string>
		</dict>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>4</integer>
				<key>y</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>MovH2</string>
		</dict>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>2</integer>
				<key>y</key>
				<integer>4</integer>
			</dict>
			<key>type</key>
			<string>Wall</string>
		</dict>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>4</integer>
				<key>y</key>
				<integer>4</integer>
			</dict>
			<key>type</key>
			<string>Wall</string>
		</dict>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>1</integer>
				<key>y</key>
				<integer>4</integer>
			</dict>
			<key>type</key>
			<string>MovH2</string>
		</dict>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>MovH2</string>
		</dict>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>6</integer>
				<key>y</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>MovH2</string>
		</dict>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>5</integer>
				<key>y</key>
				<integer>4</integer>
			</dict>
			<key>type</key>
			<string>MovH2</string>
		</dict>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>3</integer>
				<key>y</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>Star</string>
		</dict>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>3</integer>
				<key>y</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>Wall</string>
		</dict>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>3</integer>
				<key>y</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>MovH2</string>
		</dict>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>3</integer>
				<key>y</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>Star</string>
		</dict>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>3</integer>
				<key>y</key>
				<integer>9</integer>
			</dict>
			<key>type</key>
			<string>Trap</string>
		</dict>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>1</integer>
				<key>y</key>
				<integer>9</integer>
			</dict>
			<key>type</key>
			<string>Trap</string>
		</dict>
		<dict>
			<key>position</key>
			<dict>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>Star</string>
		</dict>
	</array>
</dict>
</plist>
